@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Lexend', sans-serif;
}

body{
    margin: 20px 120px;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

.logo, .items, .search, .user, .cart{
    display: flex;
}

.logo{
    gap: 0.5rem;
    font-size: 1.5rem;
    font-weight: bold;
}

.logo span{
    color: grey;
}

.items{
    font-weight: 400;
    font-size: 15px;
    gap: 2rem;
}

.down-arrow{
    font-size: 11px;
    /* font-weight: 400; */
    transform: translateY(-2px);
}

.search{
    position: relative;
    font-size: 14px;
    border: none;
    background: #eee;
    padding: 4px 12px 4px 5px;
    outline: none;
    border-radius: 35px;
}

.search .search-icon{
    /* position: absolute; */
    /* top: 8px;
    right: 10px; */
    transform: translateY(5px)
}

.user{
    align-items: center;
    gap: 0.5rem;
}

.user .acc-user{
    font-size: 15px;
}

.cart{
    align-items: center;
    gap: 0.2rem;
}

.cart-icon{
    height: 22px;
}

/* carousel */

.img-caraousel{
    width: 100%;
    height: 230px;
    overflow: hidden;
    background: #eee;
    margin-bottom: 30px;
    border-radius: 12px;
}

.img-caraousel img{
    width: 100%;
    object-fit: contain;
}

/* cards */

.main-heading{
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 500;
}

.main-heading2{
    margin-top: 30px;
    margin-bottom: 40px;
    font-size: 20px;
    font-weight: 500;
}

.all-cards{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
    justify-content: space-around;
}

.card{
    display: flex;
    /* flex: 0 0 1; */
    flex-direction: column;
    /* align-items: flex-start; */
    width: 230px;
    overflow-wrap: break-word;
    margin-bottom: 25px;
}

.image{
    padding: 10px 15px 10px 15px;
    background: #e9e9e9;
    margin-bottom: 5px;
    border-radius: 12px;
    width: 100%;
    height: 60%;
}

.image .card-img{
    width: 100%;
    object-fit: contain;
}

.card:hover{
    transform: scale(1.1);
    transition: all 0.25s ease-out;
}

/* .image .card-img:hover{
    transform: scale(1.1);
    transition: all 0.25s ease-out;
} */

.card .info{
    margin-left: 5px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.info .title{
    font-size: 19px;
    font-weight: 500;
    margin: 3px 0;
    color: #222;
}

.info .description{
    color: #555;
    font-size: 12px;
    line-height: 17px;
    margin: 0px 0px 5px 0;
}

.stars{
    display: flex;
    gap: 0.2rem;
    margin: 0.3rem;
}

.star{
    width: 15px;
}

.btn{
    border: none;
    margin: 8px 0;
    width: 150px;
    padding: 7px 7px;
    border-radius: 35px;
}

.btn:hover{
    background: #ddd;
    cursor: pointer;
    box-shadow: 0 1px 2px rgba(0,0,0,0.5);
}

@keyframes addtocart {
    0%, 50%{
        box-shadow: 0 1px 2px rgba(0,0,0,0.5) inset;
    }
}

.btn:active{
    animation: addtocart 0.2s linear;
}





